/* .body{
    width: 100%;
    height: 70%;
    background-color: rgb(14, 137, 49);
} */


/* 版心 */
.w {
    width: 95%;
    margin: 0 auto;
  }
  
  .body .col-sm img {
    height: 150px;
    width: 150px;
    background-color: aliceblue;
  }
  .body .row {
    margin-top: 10px;
  }
  

  
  /* body start */
  .hotSell,
  .promotion,
  .new{
    text-align: center;
    height: 90px;
    line-height: 90px;
  }
  .hotSell .box,
  .promotion .box,
  .new .box{
    position: relative;
    /* display: inline-block; */
    /* line-height: 90px; */
    display: inline;
    padding: 10px 15px;
  
    height: 40px;
    border: 1px solid red;
    border-radius: 4px;
  }
